*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, sans-serif;
    color: #261414;
}

.descriptive-text {
    letter-spacing: 1px;
    line-height: 1.6; 
    text-align: justify; 
    font-size: 16px;
    margin: 0 auto; 
}

.button {
    width: 90%;
    padding: 12px 17px;
    background-color: #343639; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 12px;
}

.button:hover {
    background-color: #5d5f62; 
}

.border {
    border: 2px solid #6b6b6b; 
    border-radius: 5px; 
}

/*------------------navigation bar section------------------*/
nav{
    width:100%;
    height:95px;
    line-height: 75px;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.19);
    position: fixed;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}

.Portfoliotitle{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: rgb(18, 3, 3);
    Letter-spacing: 1.5px;
    cursor:pointer;
    text-decoration: none;
    padding-left: 20px; 

}

ul {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

li {
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: #221d1d;
    font-size: 18px;
}

li:last-child a {
    padding-right: 40px; 
}

li a:hover {
    color: #ac300e;
    text-decoration: none;  
}

li a.active {
    color: #ac300e; 
    font-weight: bold;
}

/*------------------banner section------------------*/
.Home {
    background-color: #983a3a; 
    padding: 350px;
    text-align: left; 
    padding-left: 60px;
    background: url('images/Home1.jpg') ;
    background-size: cover; 
    z-index: -1;
 
}

.Home h4 {
    color: #a20707; 
    font-size: 18px; 
}

.Home h1 {
    color: #888888; 
    font-size: 32px; 
}

.Home h3 {
    color: #656464; 
    font-size: 24px; 
}

@media (max-width: 768px) {
    .Home {
        padding: 200px 30px; 
    }
}

/*------------------about section------------------*/
.pfp {
    border-radius: 50%;
}

.pfp img{
    width:50%;
    height: 50%;
}

/*------------------cards section------------------*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    width: 360px;
    overflow: hidden;
    padding-inline: 60px;
    font-size: small;
    text-align: center;
}

/*------------------project section------------------*/
.projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;  
}

.project-img img{
    width:100%;
}

/*------------------email section------------------*/
.email-signup {
    text-align: center;
    width: 300px;
    height: 285px;
    margin: 0 auto;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 5px;
}

.email-signup h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto; 
}

.email-form input,
.email-form textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.email-form textarea {
    height: 100px; 
}

.email-form button:hover {
    background-color: #7a7c7f;
}

/*------------------footer section------------------*/
.footer {
    background-color: #272727;
    color: rgb(187, 187, 187);
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1130px;
    margin: 0 auto;
}

/*------------------margins------------------*/
.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mt-100{
    margin-top: 100px;
}